{% extends 'base.html' %}

{% block content %}
    <h5 class="card-header">Abstimmung</h5>
    <div class="card-body">
        <h5 class="card-title">Welches Zitat ist witziger?</h5>
        <div class="card-text">
            <form action="/abstimmung" method="post" id="form">
                <input type="radio" id="zit1" class="quote-radio" name="zit" value="{{ g.zit1id }}-{{ g.zit2id }}">
                <br>
                <label for="zit1" id="zit1lbl">
                    <blockquote class="blockquote zit1bq">
                    "{{ g.zit1q }}"
                    <cite class="blockquote-footer">{{ g.zit1a }}</cite>
                    </blockquote>
                </label>
                <br><br>
                <input type="radio" id="zit2" class="quote-radio" name="zit" value="{{ g.zit2id }}-{{ g.zit1id }}">
                <br>
                <label for="zit2" id="zit2lbl">
                    <blockquote class="blockquote zit2bg">
                    "{{ g.zit2q }}"
                    <cite class="blockquote-footer">{{ g.zit2a }}</cite>
                    </blockquote>
                </label>
                <br>
                <button type="submit" value="ok" class="btn btn-danger voteSubmit">OK</button>
            </form>
        </div>
    </div>
    <style>
    #form {
        top: 50%;
    }
    #zit1:checked ~ .zit1lbl {
      border:solid;
    } 
    #zit2:checked ~ .zit2lbl {
       border: solid;
    }
    .zit2lbl {
        border: solid;
    }
    </style>

{% endblock %}
