{% extends 'base.html' %}

{% block content %}
    <h5 class="card-header">Statistiken</h5>
    <div class="card-body">
        <div class="card-text">
            <div>Es wurde schon {{ g.votes }} mal abgestimmt.</div>
            <div>Es sind schon {{ g.quotes }} Zitate in der Datenbank.</div>
            <div>Durchschnittlich wurde jedes Zitat {{ g.shows }} mal gezeigt.</div>
        </div>
    </div>
{% endblock %}