{% extends 'base.html' %}

{% block content %}
    <h5 class="card-header">Zitatliste</h5>
    <div class="card-body">
        <h5 class="card-title">Alle Zitate in der Datenbank</h5>
        <div class="card-text">
            {% for quote in g.quotes %}
                <div>{{ quote }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}